<h3>Add Hotel</h3>
<div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control"[(ngModel)]="hotel.name"  />
</div>
<div class="form-group">
    <label>No Of Stars</label>
    <select class="form-control" [(ngModel)]="hotel.noOfStars">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" [(ngModel)]="hotel.description"></textarea>
</div>
<div class="form-group">
    <label>Year of start :</label>
    <input type="number" class="form-control" [(ngModel)]="hotel.yearOfStart">
</div>
<div>
    <button (click)="saveHotel()" class="btn btn-primary">Save</button>
</div>