<!--<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-body-secondary">© 2023</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>About us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-body-secondary">Contact</a></li>
          
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Hotels</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/hotels" class="nav-link p-0 text-body-secondary">Hotels</a></li>
          
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Account</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/login" class="nav-link p-0 text-body-secondary">Login</a></li>
          <li class="nav-item mb-2"><a routerLink="/register" class="nav-link p-0 text-body-secondary">Register</a></li>
          
        </ul>
      </div>
    </footer>
  </div> -->
 
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Hotels</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Affilliate Program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Resort</h4>
          <ul>
            <li><a href="#">Rooms</a></li>
            <li><a href="#">Spa Center</a></li>
            <li><a href="#">Weddings</a></li>
            <li><a href="#">Restaurants</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Links</h4>
          <ul>
            <li><a href="#">Development</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Social Media</h4>
          <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
